# Build artifacts
build/
artifacts/

# ZMK
zephyr/
!zephyr/module.yml

# West managed directories
.west/
modules/
tools/

# West projects from config/west.yml
zmk/
zmk-sofle/
prospector-zmk-module/
zmk-dongle-display/
nice-view-gem/
zmk-dongle-screen/
zmk-nice-oled/
hammerbeam-slideshow/
